.book {
  color: var(--dark-purple);
  position: relative;
  overflow: hidden;
}

.book img {
  width: 100%;
  aspect-ratio: 1 / 1.4;
  transition: box-shadow 0.3s;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  position: absolute;
  inset: 0;
  transform: translateY(-100%);
  color: var(--text);
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.3s ease-in-out;
}

.book:hover .overlay {
  opacity: 1;
  transform: translateY(-4px);
}

.title {
  font-weight: 700;
  font-size: 0.875rem;
}

.author {
  font-size: 0.75rem;
}

.genre {
  font-size: 0.75rem;
  font-style: italic;
}
