.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer + .inputContainer {
  margin-top: 1rem;
}

.inputContainer label {
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.inputContainer input,
.inputContainer select {
  padding: 0.75rem;
  border: 1px solid var(--dark-purple);
  border-radius: 0.5rem;
}

.inputContainer span {
  font-size: 0.75rem;
  color: #d90421;
  font-weight: bold;
  display: block;
  margin-top: 0.25rem;
}

.inputError input,
.inputError select {
  border: 1px solid #d90421;
}
